# Ignore cache & temp
__pycache__/
*.pyc

# ignore lock file
uv.lock

# ignore ultralytics cache
runs/
weights/
*.pt
best.pt

# macOS noise files
.DS_Store

# environments

.venv

# Streamlit secrets
.streamlit/config.toml
pyproject.toml
